body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #000;
  float: left;
  font-size: 5vw;
  font-weight: bold;
  height: 7vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 1vw;
  text-align: center;
  width: 7vw;
}

.square {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.oTurn:hover { background-color:#FFCCCB; }

.xTurn:hover { background-color:#ADD8E6; }

.xChar {
  color: red;
  background-color: #FFCCCB;
}

.oChar {
  color: blue;
  background-color: #ADD8EB;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding-top: 1vw;
  font-size: 3vw;
  line-height: 25px;
}

.moves {
  list-style:none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  border: 1px solid #000;
  font-size: 0.75vw;
  font-weight: bold;
  height: 1.5vw;
  margin-bottom: -1px;
  width: 10vw;
  background: white;
  font: 1vw "Century Gothic", Futura, sans-serif;
  
}

.buttonX{
  background: #FFCCCB;
}

.buttonO{
  background: #ADD8EB;
}

.button:hover {
  background: #eeeeee;
}

.result {
  text-align: center;
  font-size: 1.5vw;
}

.resultXWin {
  text-align: center;
  animation: blinker 2s linear infinite;
  color: red;
  font-size: 1.5vw;
}

.resultOWin {
  text-align: center;
  animation: blinker 2s linear infinite;
  color: blue;
  font-size: 1.5vw;

}

.resultTie {
  text-align: center;
  animation: blinker 2s linear infinite;
  color: green;
  font-size: 1.5vw;

}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}